services:
  workers:
    build:
      context: ../
      dockerfile: ./.devcontainer/Dockerfile
    security_opt:
      - seccomp:unconfined
    entrypoint: /bin/sh -c "while sleep 1000; do :; done"
    environment:
      - POETRY_PYPI_TOKEN_PYPI # Add this to .env file inside .devcontainer folder
    volumes:
      - ../:/py-workers
      - /var/run/docker.sock:/var/run/docker.sock
